{% extends "template.html" %}

{% block content %}

<div class="person-page">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>
                    <b>{{ person.title }}</b> {{ person.first_name }} {{ person.last_name }}
                    <small class="right">added <b>{{ person.added_date.strftime('%x') }}</b></small>    
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <img class="person-image" src="http://via.placeholder.com/250x250">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <blockquote>
                <p>{{ person.description }}</p>
                <footer>Your Description of <b>{{ person.nickname }}</b></footer>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr>
            {% if person.traits %}
                {% for trait in person.traits %}
                    <div class="panel panel-{{ trait.quality | quality_to_panel }} trait-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ trait.name }}</h3>
                            <span class="right">Weight {{ trait.weight }}</span>
                        </div>
                        <div class="panel-body">
                            <div class="well well-sm">
                                <b>Description</b> <p>{{ trait.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center text-muted"><b>{{ person.first_name }}</b> has no traits assigned to them yet!</b></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}