{% extends "template.html" %}

{% block content %}

<div class="persons-page">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>
                    Persons
                    <small class="right">{{ persons | length }} total</small>
                </h1>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="persons-list">
            {% if persons %}
                {% for person in persons %}
                    <div class="col-xs-12 col-lg-6">
                        <div class="person-panel panel panel-default">
                            <div class="panel-heading">
                                <div class="person-tags right">
                                    <span class="badge">{{ person.relation | title }}</span>
                                    <span class="badge">{{ person.gender | title }}</span>
                                </div>
                                <h3 class="panel-title">
                                    {% if person.nickname != person.first_name %}
                                        <b>{{ person.nickname}}</b> <span class="text-muted"> | {{ person.first_name }} {{ person.last_name }}</span>
                                    {% else %}
                                        {{ person.first_name }} {{ person.last_name }}
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="/persons/{{ person.id }}">
                                            <img class="media-object" src="http://via.placeholder.com/100x100" alt="Placeholder picture.">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <blockquote>
                                            <p>{{ person.description }}</p>
                                            <footer>Your Description of {{ person.first_name }}</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-muted">Added <b>10 days ago</b></div>
                        </div>
                    </div>
                    
                {% endfor %}
            {% else %}
                <p class="text-center text-muted">There are no persons added yet.</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr>
            <a class="btn btn-default" href="/persons/add">Add Person</a>
        </div>
    </div>
</div>

{% endblock %}